@tailwind base;
@tailwind components;
@tailwind utilities;

.game-grid {
  grid-template-rows: repeat(var(--num-rows), minmax(0, 1fr));
  grid-template-columns: repeat(var(--num-cols), minmax(0, 1fr));
}

.top-grid {
  grid-template-columns: repeat(var(--num-cols), minmax(0, 1fr));
}

.left-grid {
  grid-template-rows: repeat(var(--num-rows), minmax(0, 1fr));
}

.top-hint {
  height: calc(var(--height) * 3rem);
}

.left-hint {
  width: calc(var(--width) * 2.25rem);
}
